name: CI to Docker Hub

on:
  release:
    types: [published]

jobs:
  docker-hub-ci:
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Get the version
        id: get_version
        run: echo ::set-output name=SOURCE_TAG::${GITHUB_REF#refs/tags/}
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/${{ secrets.APP_NAME }}:${{ steps.get_version.outputs.SOURCE_TAG }}
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
      - name: Deploy to Docker Swarm
        uses: appleboy/ssh-action@master
        env:
          PORT: 3000
          STACK_NAME: web
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.DOCKER_SSH_PRIVATE_KEY }}
          script: |
            cd ${{ secrets.PROJECT_PATH }}
            eval "$(ssh-agent -s)"
            ssh-add ${{ secrets.SSH_PATH }}
            git pull origin main
            sudo PORT=${PORT} VERSION=${{ steps.get_version.outputs.SOURCE_TAG }} docker stack deploy --compose-file docker-compose.yml ${STACK_NAME}
            sudo docker system prune -f
